html,
body {
  font-size: 62,5%;
  height: 100%;
  margin: 0;
  background: linear-gradient(to top, var(--bs-indigo), var(--bs-info));
}

header{
  width: 100%;
}

/* Hover for buttons*/
.hov:hover {
  outline: 2px solid var(--bs-light);
}

/* Custom switch color when checked */
.form-check-input:checked {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

/* Custom switch color for the handle when checked */
.form-check-input:checked + .form-check-label::before {
  background-color: var(--bs-light);
}
 .lbl{
  padding: 12px 0 0 5px;
 }